body {
  font-family: "Tomorrow", sans-serif;
}
h1 {
  font-family: "Sintony";
  font-style: italic;
  font-weight: 600px;
}
ul {
  list-style: none;
}

.navigation {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}
